<div class="footer-wrapper">
  <div class="footer-container">
    <div class="column-container">
      <p>Collaborators:</p>
      <div class="list-wrapper">
        <ul>
          <li>Daviti Ioramashvili</li>
          <li>Nika Sigua</li>
          <li>Teimuraz Soselia</li>
        </ul>
      </div>
    </div>

    <div class="column-container">
      <p>Contact Information:</p>
      <div class="list-wrapper">
        <ul>
          <li>{{ "23202257@ibsu.edu.ge" }}</li>
          <li>{{ "gdzneladze@ibsu.edu.ge" }}</li>
          <li>{{ "gkakashvili@ibsu.edu.ge" }}</li>
        </ul>
      </div>
    </div>

    <div class="column-container">
      <p>Navigation:</p>
      <div class="list-wrapper">
        <ul>
          <li>
            <a [routerLink]="['/register', 'driver']">Want to be a driver?</a>
          </li>
          <li>
            <a [routerLink]="['/register', 'passenger']"
              >Want to order a taxi?</a 
            >
          </li>
          <li><a [routerLink]="['/login']">Already registered?</a></li>
          <li><a [routerLink]="['']">Go back</a></li>
        </ul>
      </div>
    </div>

    <div class="column-container">
      <strong>© 2025 Et-Cetera/IBSU. All rights reserved.</strong>
    </div>
  </div>
</div>
